* {
    margin: 0;
    padding: 0;
}

.title {
    margin: 30px 30px 40px 30px;
    font-size: 30px;
}

.subtitle {
    margin-right: 20px;
    font-size: 30px;
}

.inputbox{
    display: flex;
    margin:0,0,20px,30px;
}