*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    padding: 0 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.contaienr{
    text-align: center;
    width: 100%;
    height: 30%;
}
.lan{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 50px;
}
.title{
    font-size: 17px;
    color: black;
    width: 100%;
    height: 60%;
}
.dab{
    font-size: 17px;
    height: 40%;
    width: 100%;
}
button{
    margin-top: 15px;
    font-weight: bolder;
    font-size: 20px;
}
.input{
    height: 50px;
    font-size: 30px;
    width: 100%;
}
.input-contaienr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.OX{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.X{
    font-size: 100px;
}
.O{
    font-size: 100px;
}