{%extends "Base.html"%}
{%block title%}코드지급{%endblock%}
{%block head%}
<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/give.css')}}">
{%endblock%}
{%block content%}
<div class="container">
    <div class="titlebox">
        코드 지급
    </div>
    <div class="code" id="CodeShow">
        로딩중...
    </div>
</div>
<script src="{{url_for('static',filename='js/give.js')}}"></script>
{%endblock%}