<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <input type="button" id="1" onclick="Cli2Serve()"></input>
    <div>
        OutPutHere
        <div id="output">
            This
        </div>
    </div>
    <script>
        const CliKey = "18e14ef4916f9b4f0f63";
        function Cli2Serve() {
            axios.post('/admin',{
                "Key" : CliKey 
            })
            .then((response)=>{
                console.log(response["data"]["ProductData"])
                response["data"]["ProductData"].forEach(element => {
                    console.log(element)
                    document.getElementById("output").innerHTML = element["code"];
                });
            })
            .catch((response)=>{
                console.log(response)
            })
        }
    </script>    
</body>
</html>