<html><!--Basic Template-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" sizes="64x64" href="{{url_for('static', filename='img/Logo.png')}}"><!--HomePageLogo-->
    {% block head %} {% endblock %}
    <!-- <script src="https://cdn.tailwindcss.com"></script>TailWind -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script><!--Axios-->
    <title>{% block title %} {% endblock %}</title><!--Template Title-->
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>