{%extends "Base.html"%}
{%block title%}상품수령{%endblock%}
{%block content%}
<div class="container">
    <div class="title">
        상품교환
    </div>
    <div class="inputbox">
        <input type="text" id="CodeInput" name="Code" placeholder="코드를 입력하세요">
        <input type="text" id="UserName" name="UserName" placeholder="이름을 입력하세요">
        <input type="submit" id="btn" name="확인">
    </div>
</div>
<link rel="stylesheet" href="{{url_for('static',filename='css/get.css')}}">
<script src="{{url_for('static',filename='js/get.js')}}"></script>
{%endblock%}